.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.25rem;
  margin: 2rem;
}
.container-tarjet {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBlog {
  width: 26rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 12px;
  height: 33rem;
  /* text-align: center; */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  color: #ee5f0d;
  transition: all 0.3s ease;
}
.images {
  width: 100%;
  height: 70%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.text-tarjet {
  height: 30%;
  text-align: center;
  padding: 10px;
  background-color: dimgrey;
}
.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #4865a0;
  margin-bottom: 20px;
}
.titulo-card {
  font-family: isolate;
  font-size: 30px;
  font-weight: bold;
  color: #ee5f0d;
  margin: 0;
  text-align: center;
  padding: 10px;
}
.contenido-card {
  font-size: 18px;
  font-weight: bold;
  color: #111827;
  margin: 0;
}
.category {
  font-style: unset;
  font-size: medium;
  background: #ee5f0d;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 99px;
  font-size: 18px;
}
.glosario-card {
  display: none;
  font-style: unset;
  font-size: medium;
  background: #ee5f0d;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 99px;
  font-size: 18px;
}
.link-card {
  text-decoration: none;
  color: inherit;
  display: block; /* hace que toda la card sea clickeable */
}
.link-card:visited {
  color: inherit; /* evita el color violeta de los links visitados */
}

@media(max-width: 1300px){

  .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 0;
  margin: 2rem;
}
}

@media(max-width: 930px){

  .card-container {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr); */
  gap: 0.5rem;
  margin: 2rem 0 3rem 0;
}
  .cardBlog{
    width: 20rem;
    height: 33rem;
  }
  .images {
    width: 100%;
    height: 20rem;
  }
  .text-tarjet{
    padding: 0.5rem;
    height: 100%;
  }

}

@media(max-width: 680px){

  .card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* gap: 0.5rem; */
  /* margin: 2rem 0 3rem 0; */
}
  .cardBlog{
    width: 18rem;
    height: 33rem;
  }
  .images {
    width: 100%;
    height: 20rem;
  }
  .text-tarjet{
    padding: 0.5rem;
    height: 100%;
  }
}