.inscribite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 0 2rem 0;
}

.titulo {
    text-align: center;
    color: var(--blanco);
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.3);
}

.titulo h1{
    font-size: 4.5rem;
}

.subtitulo{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
    margin-bottom: 2%;
}

.inscripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 760px) {
    .inscripcion {
        flex-direction: column;
        gap: 1rem;
    }
    
    .titulo h1{
        font-size: 3rem;
    }
    .subtitulo{
        font-size: 1rem;
    }
    .inscribite{
        display: flex;
        margin-top: 2rem;
        margin: 1rem 0 2rem 0;
    }
    .contenedor-inscripcion {
    /* ancho anterior 400px */
        width: 250px;
        height: 400px;
    }
    /* .plan{
        font-size: 1.2rem;
    }
    .beneficios {
        font-size: 1.1rem;
    }
    .btn-inscripcion{
        width: 50%;
        height: 2rem;
        font-size: 1rem;
    } */
}