/* metodos de pago  */

.finalizar-compra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.titulo-pago {
  color: var(--blanco);
  text-align: center;
}

.contenedor-pago {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.transferencia {
  padding: 3;
}
@media (max-width: 760px) {
  .contenedor-pago {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
  }

  .contenedor-tarjetas,
  .tranferencia {
    padding: 0.5rem 0.4rem;
    margin: 0 0 2rem 0;
    width: 13.5rem;
  }
}

@media(max-width: 500px){
    .contenedor-pago{
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }
}
