/* metodos de pago  */

.finalizar-compra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.titulo-pago {
  color: var(--blanco);
  text-align: center;
}

.contenedor-pago {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.transferencia {
  padding: 3;
}
@media (max-width: 760px) {
  .contenedor-pago {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .contenedor-tarjetas,
  .tranferencia {
    padding: 0.5rem 0.4rem;
    margin: 0 0 2rem 0;
    width: 12rem;
  }
}
