
.link-inscripcion {
    color: var(--blanco);
    text-decoration: none;
}

.contenedor-inscripcion {
    width: 340px;
    height: 600px;
    background-color: var(--gris-osc);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding-bottom: 1rem;
    justify-content: end;
    /* gap: 1rem; */
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease-in-out;

}

.contenedor-inscripcion:hover {
    transform: scale(1.02);
    transition: all 0.5s ease;
}

.premium {
    background-image: url('../../src/assets/images/premium2.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.standar {
    background-image: url('../../src/assets/images/standar2.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.basico {
    /* background-image: url('../../assets/basico.jpg'); */
    background-image: url('../../src/assets/images/basico2.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.plan {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: var(--naranja);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.plan .descripcion{
    font-size: 3rem;
    white-space: nowrap;
}

.plan .precio{
    font-size: 2rem;
    margin: 0.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.beneficios {
    font-size: 1.5rem;
    color: var(--blanco);
    
}
@media (max-width: 1024px) {
    .contenedor-inscripcion {
        width: 340px;
        height: 500px;
    }

    .plan .descripcion{
        font-size: 2.5rem;
    }
    .plan .precio{
        font-size: 1.9rem;
    }
    .beneficios {
        font-size: 1.4rem;
    }
    .btn-inscripcion{
        width: 50%;
        height: 2rem;
        font-size: 1rem;
    }
}