.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}


.indicador-pago{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  width: 25rem;
  height: 40px;
  transition: all 0.4s ease-in-out;
  border: var(--naranja) 1px solid;
  color: var(--blanco);
  background-color: var(--naranja);

}

.titulo-modal {
  font-family: fangsong;
  color: #000;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}
.plan{
  display:flex;
  justify-content:center;
  align-items:center;
}
.tipo-plan {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 15px;
  color: #555;
  line-height: 1.4;
}


.precio-plan {
  color: var(--naranja);
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}
.modal-content-detalle-compra{
  width:450;
  height:90vh;
}
.modal-content-detalle-compra {
  background: #fff;
  width: 90%;
  max-width: 450px;
  height: 90vh;
  padding: 25px 20px;
  border-left: 1px solid #ddd;
  border-radius: 12px;
  border: 2px solid var(--naranja);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black; /* importante */
  position: relative;
  animation: slideIn 0.4s ease;
  align-items:center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
}
.mostrar-beneficios {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.lista-beneficios {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.beneficio-individual {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  margin-bottom: 10px;
  color: #333;
}

.icono-check {
  color: #2ecc71;
  font-size: 1.2rem;
  margin-right: 8px;
}
  @media screen and (max-width:412px) {
.modal-content-detalle-compra{
  width:100%;
  height:99vh;
  padding: 15px 10px;
}
.titulo-modal{
  font-size: 1.5rem;

}

.precio-plan{
  font-size:1rem;

}
.paln-modal {
  font-size: 0.9rem;
  padding:10px;

}
.close-btn{
  font-size: 20px;
}


}