.form-carrito {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background: #2E3138;
  border-radius: 8px;
  padding: 1rem;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.form-carrito h2 {
  font-size: 1.1rem;
  color: #ee5f0d;
  margin-bottom: 0.5rem;
  text-align: center;
}

.form-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.form-row label {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: var(--blanco);
}

.form-row input,
.form-row textarea {
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  color: #23252B;
  font-size: 0.95rem;
  outline: none;
}

.form-row textarea {
  resize: vertical;
  min-height: 60px;
}
.boton-formCarrito{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  background-color: var(--naranja);
  color: var(--blanco);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}