
.admin-option {
  background-color: var(--gris-osc);
  border: 2px solid var(--naranja);
  border-radius: 15px;
  padding: 3rem 2rem;
  display: flex;
  width: 23rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.admin-option::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(238, 95, 13, 0.1), transparent);
  transition: left 0.5s ease;
}

.admin-option:hover::before {
  left: 100%;
}

.admin-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(238, 95, 13, 0.3);
  border-color: var(--blanco);
}

.option-content h3 {
  color: var(--naranja);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.option-content p {
  color: var(--blanco);
  font-size: 1.2rem;
  opacity: 0.8;
}

.option-arrow {
  color: var(--naranja);
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.admin-option:hover .option-arrow {
  transform: translateX(10px);
}

@media (max-width: 400px) {
  .admin-option {
    width: 100%;
  }
  
}
