
.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #B9B9B9;
    margin: 0 1rem 2rem 0;
    /* padding: 0rem 0rem; */
    border-radius: 20px;
    white-space: nowrap;
    
}
.metodos-pago{
    margin-top: 1rem;
    font-size: 1.2rem;
}
.metodos-pago-list,
.lista-tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 1rem;
}
.metodos-pago-list{
    padding: 0rem 2rem;
}
.lista-tarjetas {
    padding: 0.2rem 3.5rem;
}