.form-textarea {
    background: #3B3F40;
    border-radius: 4px;
    padding: 0.5rem 1rem 4rem 0.5rem;
    color: var(--blanco);
    font-size: 1rem;
    width: 18.8rem;
    resize: none;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--gris);
    border-radius: 5px;
    cursor: pointer;
}
