/* Banner principal */
.content-banner {
  display: grid;
  place-items: center;
  width: 100%;
  position: relative;
  margin-top: 5rem;
}

.content-banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--naranja);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-banner img {
  height: 100%;
  object-fit: cover;
}

@media(max-width: 768px) {
  .content-banner img{
      min-height: 10rem;    
  }
}
