.contacto-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 5rem;
    background-color: var(--negro);
}


.contact-logo {
    width: 300px;
    object-fit: contain;
    margin-top: 4rem;
}

.contacto {
    color: var(--blanco);
    text-align: center;
    margin: 1rem 0;
    width: 25rem;
}

.form-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.form-text {
    font-size: 1.5rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: var(--blanco);
    gap: 0.5rem;
}

.input-group {
    width: 16rem;
    margin-bottom: 10px;
}


.input-info {
    width: 16rem;
    border-radius: 4px;
    padding: 0.3rem 0.5rem 4rem 0.5rem;
    border: none;
    outline: none;
    background: #404040;
    color: var(--blanco);
    resize: none;
    font-size: 1rem;
    field-sizing: content;
}


.burger-icon {
    color: var(--naranja);
    font-size: 1.7rem;
}

@media(max-width: 500px) {
    .contacto{
        width: 16rem;
    }
}
