
.admin-content {
  padding-top: 8rem;
  min-height: calc(100vh - 6rem);
  background-color: var(--gris);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

.admin-title {
  color: var(--blanco);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 600;
}

.admin-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
@media(max-width: 420px){
  .container{
    padding: 0rem;
  }
  .admin-option{
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}