/* Footer */
.footer {
    background-color: var(--gris-osc);
    padding-top: 2rem;

}
.footer-content {
    max-width: 100%;
    margin: 0 auto;

}
/* arreglo centrado footer  */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    align-items: center;
    justify-content: space-evenly;
    place-items: center;
}
.contact {
    font-style: normal;
}
.contact-item {
    display: flex;
    gap: 0.625rem;
    margin-top: var(--spacing);
    color: var(--blanco);
}
.contact-icon {
    width: 1rem;
    aspect-ratio: 1;
    object-fit: contain;
    align-self: flex-start;
}
.contact-text {
    font-size: 1rem;
}
.brand-logo {
    width: 350px;
    aspect-ratio: 1;
    object-fit: contain;
}
.footer-nav {
    margin: 0 2.5rem;
}
.footer-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.footer-nav-link {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.footer-nav-link:hover {
    color: var(--naranja);
}
.footer-line {
    margin: 0.875rem auto 0;
    height: 5px;
    border: 3px solid var(--blanco);
    max-width: 100%;
}
.copyright {
    padding: 0 1px 1rem;
    background-color: var(--negro);
}
.copyright-line {
    height: 5px;
    border: 3px solid var(--blanco);
}
.copyright-content {
    display: flex;
    justify-content: end;
    margin: 0.875rem auto 0;
}
.copyright-text {
    color: var(--blanco);
    font-size: 1rem;
    font-weight: 300;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 4.5rem;
    margin: 1rem;
}
.social-icon{
    font-size: 2rem;
    color: var(--naranja);
    transition: all 0.4s ease;
}
.social-icon:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.mobile{
    display: none;
}


@media (max-width: 760px) {
    
    .footer-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

