:root {
    --gris: #23252B;
    --gris-osc: #1A1A1A;
    --naranja: #EE5F0D;
    --blanco: #FFFFFF;
    --negro: #000000;
    --max-width: 1920px;
    --spacing: 1rem;
}
*{
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}