:root {
  --gris: #23252B;
  --gris-osc: #1A1A1A;
  --naranja: #EE5F0D;
  --blanco: #FFFFFF;
  --negro: #000000;
  --max-width: 1920px;
  --spacing: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--gris);
}
.main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--gris);
  overflow: hidden;
}


/* Banner principal */
.content-banner {
  display: grid;
  place-items: center;
  width: 100%;
  position: relative;  
  margin-top: 5rem;
}

.content-banner::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--naranja);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-banner img{
  width: 80%;
  height: 100%;

}

/* SE BORRO SECCION DE PRODUCTOS, SE AGREGO NUEVO CARRUSEL DE PRODUCTOS */
/* section productos  */

/* inicio seccion remeras  */
/* Banner-remeras */

.descripcion-remera{
display: flex;
justify-content: center;
}
.banner-remeras {
margin: 2rem 0 5rem 0;
/* width: 100%; */
width: 64rem;
/* height: 30.5rem; */
object-fit: contain;
border-radius: 20px;
}

.entrena{
  color: var(--blanco);
}

/* fin seccion remera  */




@media (max-width: 760px) {
  .content-banner img{
      width: 100%;
      min-height: 12rem;
      
  }
  .footer-grid{
      grid-template-columns: repeat(1, 1fr);
  }
  
  .nav-links{
  display: none;
  }
  
  .desktop{
      display: none;
  }
  
  .descripcion-remera{
      display: flex;
      flex-direction: column;
  }
  .banner-remeras{
      width: 100%;
  }
  .entrena{
      font-size: 100%;    
  }
}


@media (max-width: 640px) {
  .navigation{
      gap: 1rem;
      padding: 0 1rem;
  }
  .icons-container{
      gap: 0.8rem;
  }
}